- var pageTitle = 'test';
<!DOCTYPE html>
html(lang="en")
  head
    include pug/layout/meta
    include pug/layout/styles
  body
    .conatiner.bg-primary.w-100.h-100
      img(src="./imgs/test.png", alt="")
      i.fa.fa-facebook
    include pug/layout/scripts