header
    .opac
    .header.text-light
        .title.text-center.float-left
            h1  Lorem ipsum dolor sit amet.
            p.lead.desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, dignissimos.
            p.small.d-block Lorem ipsum dolor sit amet consectetur adipisicing elit.
            a.btn.btn-info(href="#") Contact US
        