nav.navbar.navbar-expand-lg.navbar-light.bg-info
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
        
    .collapse.navbar-collapse#navbarText
        a(href=""): img(src="https://via.placeholder.com/250x50", alt="logo")
        ul.navbar-nav.mx-auto
            li.nav-item: a.nav-link(href="#") Home
            li.nav-item: a.nav-link(href="#") Clinics Products
            li.nav-item: a.nav-link(href="#") Doctor Items
            li.nav-item: a.nav-link(href="#") About
            li.nav-item: a.nav-link(href="#") Contact
        form.form-inline()
            input.form-control(type="text" placeholder="Search .....!")
            button.btn.btn-info.form-control: i.fa.fa-search