- var pageTitle = 'Adwya';
<!DOCTYPE html>
html(lang="en")
  head
    include pug/layout/meta
    include pug/layout/styles
  body
    .page.home-page
      include pug/layout/header
      include pug/layout/navbar
      .content-area.container-fluid
        .home-content.mt-2
          .row
            include pug/components/home
            include pug/components/home
            include pug/components/home
            include pug/components/home
            include pug/components/home
            include pug/components/home

       
    include pug/layout/scripts