.col-md-4
    .product-card.mb-2
        .card
            .card-header.bg-info.text-light
                b product title
            .card-body  
                img.float-left.mr-2(src="imgs/hbg.jpg", alt="product")
                p.card-text.lead Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, obcaecati?
                    a(href="#").text-info.font-weight-normal More info
            .card-footer.bg-primary.text-light.font-weight-bold
                .row.no-gutters.text-center
                    .col-2 
                        |Price
                    .col-8
                        button.btn.btn-info: i.fa.fa-shopping-cart
                    .col-2
                        | 20$